.App {
  text-align: center;
}

/* - Grayish Blue: hsl(217, 19%, 38%)
- Dark Grayish Blue: hsl(217, 19%, 24%)
- Dark Blue: hsl(218, 23%, 16%) */

.App-header {
  background-color: hsl(218, 23%, 16%) ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.box{
  width: 500px;
  height: 250px;
  background-color: hsl(217, 19%, 24%);
  border-radius: 15px;
  text-align: center;
  padding-top: 25px;
}

.Span-text{
  text-transform: capitalize;
  font-size: 20px;
  color: hsl(150, 100%, 66%);
}

button{
  border-radius: 50px;
  width: 50px;
  background-color: hsl(150, 100%, 66%);
  padding: 5px 0px;
  margin: 5px 0px;
  cursor: pointer;
}

.Button :hover{
  background-color: hsl(150, 100%, 66%);
}
